.project {
 

margin-bottom: 10rem;

}

.project h2 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #fff;
}

.project .underline {
  width: 8rem;
  height: 0.3rem;
  background: linear-gradient(90deg, var(--blue-medium--2) 0%, transparent 100%);
  margin-bottom: 5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

@media screen and (max-width: 1024px) {
.project{
  
margin-top: 10rem;
}

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 600px) {
  

  .project h2 {
    font-size: 3.5rem;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
