.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.download {
  background: var(--blue-medium--4);
  color: var(--color-white);
  padding: 1.7rem 2.5rem;
  font-weight: 700;
  font-size: 1.7rem;
  border-radius: 0.7rem;
  font-family: inherit;
}

.download:hover {
  transform: translateY(-0.3rem);
}

.download:active {
  transform: translateY(-0.1rem);
}


.send{
  background: none;
  border-bottom: 3px solid var( --blue-medium--2);
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.7rem;
  color: var(--color-white);
  float: right;
}


@media screen and (max-width:1024px) {
 .send{
 float: unset;
 }
  
}