.main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5rem;
}



.header {

  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 0.04ch;
  
}

.introText {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.5em;
  margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    width: 70rem;
    
}

@media screen and (max-width: 1024px) {
.introText {
 
    width: 100%;
   
    
}}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    margin: 0;

  }
  
  .intro {
    margin-bottom: 5rem;
    text-align: center;
  }
  .introText{
    width: 70%;
     margin:2rem auto;
  }

}

@media screen and (max-width: 600px) {
  .main{
    margin-top: 0;
  }
  .header {
padding:10rem 4rem;
  
}
  .name {
    font-size: 4rem;
  }
  .introText{
        width: 100%;
  }
  
  
}