.nav {
  display: flex;
  justify-content: space-between;
  /* background-color: var(--color-dark--2); */
  padding:2rem 15rem;
  height: 7rem;
  align-items: center;
}

.socials ul {
  display: inline-flex;
  gap: 4rem;
}

@media screen and (max-width:768px) {
  .nav{
    padding: 2rem;
  }
 
  }