.nav {
  display: flex;
  justify-content: space-between;

  height: 7rem;
  align-items: center;
}

.socials ul {
  display: inline-flex;
  gap: 4rem;
}

@media screen and (max-width:768px) {
  .nav{
    
  }
 
  }